<div layout="row" class="row">
	<md-button class="md-raised md-cornered md-default-theme login" auth-google-mail>
		Login Gmail
	</md-button>
	<md-button class="md-raised md-cornered md-default-theme save" send-data>
		Save
	</md-button>
	
</div>
<div id="status" class="data status"></div>
<div class="data">Email: {{userData.emailAddress}}</div>
<div class="data">Messages: {{userData.messagesTotal}}</div>
<div class="data">Threads: {{userData.threadsTotal}}</div>
<div class="data">HistoryId: {{userData.historyId}}</div>

