<div layout="row" class="row">
	<md-button class="md-raised md-cornered md-default-theme login" auth-ms>
		Login MS
	</md-button>
	<md-button class="md-raised md-cornered md-default-theme save" send-data>
		Save
	</md-button>
	
</div>
<div id="status" class="data status"></div>
<div class="data">Id: {{userData.id}}</div>
<div class="data">Name: {{userData.name}}</div>
<div class="data">Link: {{userData.link}}</div>
<div class="data">Locale: {{userData.locale}}</div>
<div class="data">Updated time: {{userData.updated_time}}</div>

