* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}

a {
    text-decoration: none;
    color: #000;
}

a, img, textarea, a:focus, input:focus {
    outline: none;
}

body {
    position: relative;
    width: 480px;
    margin: 0 auto;
}

h1, h2, h3, h4 {
    font-weight: normal;
}

md-tabs, .status, .data, .row {
    margin-bottom: 20px;
}

.status {
    border-bottom: 1px solid #FF9800;
    padding-bottom: 10px;
}

.save {
    display: none;
}